<div class="flex px-5 justify-start flex-col items-start gap-2 incHeight">
	<div class="flex flex-col relative pl-4">
		<mat-form-field>
			<mat-label>{{ "select_filters" | i18nextEager }}</mat-label>
			<mat-select [formControl]="tagsControl" multiple>
				<mat-option
					*ngFor="let tag of possibleFilters | keyvalue"
					(click)="toggleTag(tag.key)"
					[value]="tag.key"
					>{{ tag.key }}</mat-option
				>
			</mat-select>
		</mat-form-field>
	</div>
	<mat-list role="list" class="w-11/12">
		<ng-container *ngFor="let character of favoriteCharacters | keyvalue">
			<div *ngIf="checkInter(character.value.tags)">
				<mat-list-item role="listitem">
					<a
						[routerLink]="['/person', character.key]"
						class="font-bold text-blue-700 mr-1 min-w-fit"
					>
						{{ character.value.name }}
					</a>
					<div class="w-full">
						(
						<ng-container
							*ngFor="
								let tag of character.value.tags;
								let isLast = last
							"
						>
							{{ isLast ? tag : tag + ", " }}
						</ng-container>
						)
					</div>
				</mat-list-item>
			</div>
		</ng-container>
	</mat-list>
</div>
