<div class="mainCont mt-4">

	<!-- Filters -->
	<div class="w-full flex flex-col items-center justify-center mb-1">
		<mat-accordion class="w-6/12">
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ "set_view" | i18nextEager }}
					</mat-panel-title>
				</mat-expansion-panel-header>
				<div
					class="w-full flex flex-row flex-wrap justify-center items-center"
				>
					<mat-checkbox
						*ngFor="let field of filters | keyvalue"
						class="mr-4 flex justify-center items-center"
						color="primary"
						[(ngModel)]="filters[field.key]"
					>
						{{ field.key | i18nextEager }}
					</mat-checkbox>
					<button
						class="flex justify-center items-center bg-blue-400 hover:bg-blue-800 rounded p-2 text-white"
						(click)="markAll(true)"
					>
						{{ "mark_all" | i18nextEager }}
					</button>
					<button
						class="flex justify-center items-center bg-blue-400 hover:bg-blue-800 rounded p-2 text-white ml-3"
						(click)="markAll(false)"
					>
						{{ "dismiss_all" | i18nextEager }}
					</button>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>

	<!-- Content -->
	<div
		class="flex flex-col justify-start items-start overflow-scroll contentHere"
	>
		<!-- <div class="flex flex-row namesOfCells">
			<div class="min200px text-center">{{ "image" | i18nextEager }}</div>
			<div class="min200px text-center">{{ "name" | i18nextEager }}</div>
			<ng-container *ngFor="let field of filters | keyvalue">
				<div *ngIf="field.value" class="min200px text-center">
					{{ field.key | i18nextEager }}
				</div>
			</ng-container>
		</div> -->
		<!-- <app-singleCharacter
			*ngFor="
				let character of heroes
					| charactersFilterPipe: queryName
					| paginate: { itemsPerPage: 10, currentPage: page }
			"
			[character]="character"
			[filter]="filters"
		>
		</app-singleCharacter> -->
		<div class="andHere">
			<table *ngIf="characters.data.length > 0" mat-table [dataSource]="characters">
				<ng-container matColumnDef="img">
					<th mat-header-cell *matHeaderCellDef>
						{{ "image" | i18nextEager }}
					</th>
					<td mat-cell *matCellDef="let element">
						<img
							width="200"
							height="150"
							class="rounded"
							src="{{ element.img }}"
							alt="{{ element.name }}"
						/>
					</td>
				</ng-container>

				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>
						{{ "name" | i18nextEager }}
					</th>
					<td mat-cell *matCellDef="let element">
						{{ element.name }}
					</td>
				</ng-container>

				<ng-container matColumnDef="birthday">
					<th
						mat-header-cell
						*matHeaderCellDef
						[hidden]="!filters.birthday"
					>
						{{ "birthday" | i18nextEager }}
					</th>
					<td mat-cell *matCellDef="let element">
						{{ element.birthday }}
					</td>
				</ng-container>

				<ng-container matColumnDef="nickname">
					<th mat-header-cell *matHeaderCellDef>
						{{ "nickname" | i18nextEager }}
					</th>
					<td mat-cell *matCellDef="let element">
						{{ element.nickname }}
					</td>
				</ng-container>

				<ng-container matColumnDef="occupation">
					<th mat-header-cell *matHeaderCellDef>
						{{ "occupation" | i18nextEager }}
					</th>
					<td mat-cell *matCellDef="let element">
						{{ element.occupation.join(", ") }}
					</td>
				</ng-container>

				<ng-container matColumnDef="portrayed">
					<th mat-header-cell *matHeaderCellDef>
						{{ "portrayed" | i18nextEager }}
					</th>
					<td mat-cell *matCellDef="let element">
						{{ element.portrayed }}
					</td>
				</ng-container>

				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef>
						{{ "status" | i18nextEager }}
					</th>
					<td mat-cell *matCellDef="let element">
						{{ element.status }}
					</td>
				</ng-container>

				<tr mat-header-row class="namesOfCells" *matHeaderRowDef="getColumns()"></tr>
				<tr (click)="redirect(row)" mat-row *matRowDef="let row; columns: getColumns()"></tr>
			</table>
			<mat-paginator
				[pageSizeOptions]="[5, 10, 20]"
				showFirstLastButtons
				#paginator
				class="paginator"
				aria-label="Select page of characters"
			>
			</mat-paginator>
		</div>
	</div>
</div>
