.minimalWidth {
    min-width: 300px;
    min-height: 214px;
}

.minimalInCard {
    min-width: 200px;
}

.limitWidthForCells {
    max-width: 10vw;
}

@media screen and (max-width: 900px) {
    .limitWidthForCells {
        max-width: 20vw;
    }
}