<div class="my-4">
	<div
		class="flex flex-row hover:bg-slate-200 cursor-pointer"
		(click)="goToDetails()"
	>
		<img
			src="{{ character.img }}"
			width="200"
			height="150"
			alt="{{ character.name }}"
			class="rounded"
		/>
		<div class="minimalInCard flex items-center justify-center limitWidthForCells">
			{{ character.name }}
		</div>
		<div
			*ngIf="filter.birthday"
			class="minimalInCard flex items-center justify-center limitWidthForCells"
		>
			{{ character.birthday }}
		</div>
		<div
			*ngIf="filter.nickname"
			class="minimalInCard flex items-center justify-center limitWidthForCells"
		>
			{{ character.nickname }}
		</div>
		<div
			*ngIf="filter.occupation"
			class="minimalInCard flex items-center justify-center"
		>
			<ul>
				<li
					class="text-center limitWidthForCells"
					*ngFor="let work of character.occupation; let isLast=last"
				>
					{{ work }}{{isLast ? "" : ", "}}
				</li>
			</ul>
		</div>
		<div
			*ngIf="filter.portrayed"
			class="minimalInCard flex items-center justify-center limitWidthForCells"
		>
			{{ character.portrayed }}
		</div>
		<div
			*ngIf="filter.status"
			class="minimalInCard flex items-center justify-center limitWidthForCells"
		>
			{{ character.status }}
		</div>
	</div>
</div>
