<div *ngIf="character$ | async as character">
	<div class="text-center text-5xl font-bold my-3">
		{{ character.name }}
	</div>
	<div class="grid mt-5 myGrid">
		<div class="flex justify-center items-center">
			<img
				src="{{ character.img }}"
				width="500"
				height="500"
				alt="{{ character.name }}"
				class="rounded"
			/>
		</div>
		<div class="text-2xl flex flex-col justify-center gap-10 willMoved">
			<div class="flex">
				<p class="mr-2 font-semibold">
					{{ "hero.appearance" | i18nextEager }}
				</p>
				{{ character.appearance.join(", ") }}
			</div>
			<div class="flex">
				<p class="mr-2 font-semibold">
					{{ "hero.born" | i18nextEager }}
				</p>
				{{ character.birthday }}
			</div>
			<div class="flex">
				<p class="mr-2 font-semibold">
					{{ "hero.nickname" | i18nextEager }}
				</p>
				{{ character.nickname }}
			</div>
			<div class="flex">
				<p class="mr-2 font-semibold">
					{{ "hero.occupation" | i18nextEager }}
				</p>
				{{ character.occupation.join(", ") }}
			</div>
			<div class="flex">
				<p class="mr-2 font-semibold">
					{{ "hero.status" | i18nextEager }}
				</p>
				{{ character.status }}
			</div>
			<div class="flex">
				<p class="mr-2 font-semibold">
					{{ "hero.actor" | i18nextEager }}
				</p>
				{{ character.portrayed }}
			</div>
			<div class="flex flex-wrap items-center addGap">
				<mat-form-field class="w-9/12" appearance="fill" color="black">
					<mat-label class="label">{{ "hero.tags" | i18nextEager }}</mat-label>
					<mat-chip-list #tagsList>
						<mat-chip
							*ngFor="let tag of tags"
							(removed)="deleteTag(tag)"
						>
							{{ tag }}
							<button matChipRemove>
								<mat-icon>cancel</mat-icon>
							</button>
						</mat-chip>
						<input
							placeholder="Add tag"
							[matChipInputFor]="tagsList"
							[matChipInputSeparatorKeyCodes]="separators"
							(matChipInputTokenEnd)="addTag($event)"
						/>
					</mat-chip-list>
				</mat-form-field>
			</div>
		</div>
	</div>
</div>
