<ng-template appRef></ng-template>
<div class="text-center text-5xl font-bold my-3">
	{{ character.name }}
</div>
<div class="grid mt-5 myGrid">
	<div class="flex justify-center items-center">
		<img
			src="{{ character.img }}"
			width="500"
			height="500"
			alt="{{ character.name }}"
			class="rounded"
		/>
	</div>
	<div class="text-2xl flex flex-col justify-center gap-10 willMoved">
		<div>
			{{ "hero.appearance" | i18nextEager
			}}{{
				character.appearance.length
					? character.appearance.join(", ")
					: ""
			}}
		</div>
		<div>{{ "hero.born" | i18nextEager }}{{ character.birthday }}</div>
		<div>{{ "hero.nickname" | i18nextEager }}{{ character.nickname }}</div>
		<div>
			{{ "hero.occupation" | i18nextEager }}
			{{ character.occupation.join(", ") }}
		</div>
		<div>{{ "hero.status" | i18nextEager }}{{ character.status }}</div>
		<div>{{ "hero.actor" | i18nextEager }}{{ character.portrayed }}</div>
		<div class="flex flex-wrap items-center addGap">
			{{ "hero.tags" | i18nextEager }}
			<div *ngFor="let tag of tags">
				<div class="mx-2 px-2 tagged">
					{{ tag }}
					<button (click)="deleteTag(tag)">
						<img
							src="../../../../assets/cross.png"
							width="40"
							height="40"
							alt="Удалить"
						/>
					</button>
				</div>
			</div>
			<button
				(click)="showModal()"
				class="plusButton rounded-full ml-5 px-2.5 pb-1"
			>
				+
			</button>
		</div>
	</div>
</div>
