@function get-vw($target) {
	$vw-context: (1000 * 0.01) * 1px;
	@return calc($target/$vw-context) * 1vw;
}

@function get-vh($target) {
	$vh-context: (1000 * 0.01) * 1px;
	@return calc($target/$vh-context) * 1vh;
}

.back {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: transparent;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.beInput {
	font-size: get-vw(72px);
	background-color: transparent;
	border: 2px solid white;
	color: white;
	text-align: center;
	outline: none;
	border-radius: 26px;
	border: 3px dashed white;

	&:focus {
		border-color: #1db9c9;
		caret-color: #1db9c9;
	}

	&.police {
		animation: thisIsThePolice 1s infinite;
	}
}

.addTag, .closeWindow {
	height: get-vh(144px);
	background-color: #1db9c9;
	color: white;
	padding: 0px 60px 10px 60px;
	font-size: get-vw(36px);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	border-radius: 30px;
}

.closeWindow {
	height: get-vh(90px);
	font-size: get-vw(36px);
	padding: 0px 30px 10px 30px;
	position: absolute;
	top: 30px;
	right: 10px;
}

@keyframes thisIsThePolice {
	0% {
		border-color: white;
	}
	50% {
		border-color: red;
	}
}

@media screen and (max-width: 1100px) {
	.addTag, .closeWindow {
		padding: 0px 20px;
		height: get-vh(72px);
	}
}
