.sidenav-container {
	height: 100%;
	background-color: white;
}

.sidenav {
	width: 200px;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.spaceClass {
	flex: 1 1 auto
}

.activeLink {
	background-color: #38BDF8;
	color: white;
}

.hidden {
	display: none;
}

@media screen and (max-width: 400px) {
	.addScrollX {
		overflow-x: scroll;
	}
}
