<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		position="end"
		[ngClass]="{ hidden: !(isHandset$ | async) === true }"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false"
	>
		<mat-toolbar>{{ "menu" | i18nextEager }}</mat-toolbar>
		<mat-nav-list>
			<div class="flex flex-col px-2">
				<div>
					<span
						class="w-full flex justify-center font-extrabold text-xl"
						>{{ "navigation" | i18nextEager }}</span
					>
					<a
						class="rounded p-1 mx-2 text-white"
						[ngClass]="{
							'flex p-1 py-2 justify-center':
								(isHandset$ | async) === true
						}"
						routerLinkActive="activeLink"
						ariaCurrentWhenActive="page"
						[routerLinkActiveOptions]="{ exact: true }"
						routerLink="/"
						>{{ "main_page" | i18nextEager }}</a
					>
					<a
						class="rounded p-1 text-white"
						[ngClass]="{
							'flex p-1 py-2 justify-center':
								(isHandset$ | async) === true
						}"
						routerLinkActive="activeLink"
						ariaCurrentWhenActive="page"
						[routerLinkActiveOptions]="{ exact: true }"
						routerLink="/favorite"
						>{{ "favorite_page" | i18nextEager }}</a
					>
				</div>
				<div class="flex mt-4 flex-wrap w-full gap-2 justify-center">
					<span
						class="w-full flex justify-center font-extrabold text-xl"
						>{{ "locales" | i18nextEager }}</span
					>
					<button
						[ngClass]="{ 'bg-sky-400 text-white': isRu() }"
						(click)="setLang('ru')"
						class="rounded py-2 px-3"
					>
						Русский
					</button>
					<button
						[ngClass]="{ 'bg-sky-400 text-white': !isRu() }"
						(click)="setLang('en')"
						class="rounded py-2 px-3"
					>
						English
					</button>
				</div>
			</div>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary" class="addScrollX">
			<span>Breaking Bad</span>
			<ng-container *ngIf="!(isHandset$ | async) === true">
				<a
					class="rounded p-1 mx-2 text-white"
					routerLinkActive="activeLink"
					ariaCurrentWhenActive="page"
					[routerLinkActiveOptions]="{ exact: true }"
					routerLink="/"
					>{{ "main_page" | i18nextEager }}</a
				>
				<a
					class="rounded p-1 text-white"
					routerLinkActive="activeLink"
					ariaCurrentWhenActive="page"
					[routerLinkActiveOptions]="{ exact: true }"
					routerLink="/favorite"
					>{{ "favorite_page" | i18nextEager }}</a
				>
			</ng-container>

			<!-- Search panel -->
			<div class="fieldContainer">
				<mat-form-field class="w-full" appearance="standard">
					<mat-label class="text-white">{{
						"search_hero_placeholder" | i18nextEager
					}}</mat-label>
					<input #search matInput />
				</mat-form-field>
			</div>
			<span class="spaceClass"></span>
			<div *ngIf="(isHandset$ | async) === false">
				<button
					[ngClass]="{ 'bg-sky-400': isRu() }"
					(click)="setLang('ru')"
					class="rounded m-1 p-1 text-white"
				>
					Русский
				</button>
				<button
					[ngClass]="{ 'bg-sky-400': !isRu() }"
					(click)="setLang('en')"
					class="rounded m-1 p-1 text-white"
				>
					English
				</button>
			</div>
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async"
			>
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
		</mat-toolbar>
		<!-- Add Content Here -->
		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
