.sidenav-container {
	height: 100%;
	background-color: white;
}

.sidenav {
	width: 200px;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 1;
}

.spaceClass {
	flex: 1 1 auto;
}

.activeLink {
	background-color: #38bdf8;
	color: white;
}

.hidden {
	display: none;
}

::ng-deep 

.fieldContainer {
	min-width: 50px;
	max-width: 300px;
	width: 100%;
	margin-top: 1px;
	margin-left: 10px;
	background-color: transparent;
	font-size: 14px;
}

@media screen and (max-width: 400px) {
	.addScrollX {
		overflow-x: scroll;
	}
}
